:root {
    --main-color: rgba(0,0,0,0);
}

.block {
    float: left;
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: var(--main-color);
}

.hexnumber {
    width: 50px;
}

.input {
    width: 150px;
}

.hexnumber {
    width: 150px;
}

.colorform {
    float: left;
}

h2 {
    margin-left: 50px;
}

