.block {
    float: left;
    height: 150px;
    width: 150px;
    margin-left: -50px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: blue;
}

.hexnumber {
    width: 50px;
}

.input {
    width: 150px;
}

.colorform {
    float: left;
}

h2 {
    margin-left: 50px;
}