.block {
    float: left;
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: blue;
}

.hexnumber {
    width: 50px;
}

.input label {
    text-align: left;
}